.sidebar {
    width: 312px;
    height: 242px;
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-view-subreddit {
    height: 280px;
    width: 312px;
    border: 1px solid #ccc;
    padding: 10px;
}

.subreddit-text>a{
    color: #0079d3;
    text-decoration: none;
}
.subreddit-text>a:hover{
    color: #005697;
    text-decoration: none;
}